[Desktop Entry]
Type=Application
Categories=AudioVideo;Video;TV;
Exec=bilibili %u
Icon=bilibili
Name=Bilibili
Name[zh_CN]=哔哩哔哩
Name[zh_TW]=嗶哩嗶哩
Comment=Bilibili desktop
Comment[zh_CN]=哔哩哔哩桌面版
Comment[zh_TW]=嗶哩嗶哩桌面版
StartupNotify=true
Terminal=false