body[lang="en"] {
  bili-comments::part(options) {
    width: 200px;
  }

  .app_video--detail-unfold:after {
    content: 'Expand';
    width: 70px;
  }

  .app_video--detail.app_video--unfold .app_video--detail-unfold:after {
    content: 'Collapse';
    width: 70px;
  }
  // 播放设置
  .bpx-player-control-bottom-right {
    .bpx-player-ctrl-setting {
      &.bpx-state-show {
        .bpx-player-ctrl-setting-box {
          .bui-panel-wrap {
            width: 221px !important;
            .bui-panel-move {
              width: 571px !important;
              .bui-panel-item:nth-child(1).bui-panel-item-active {
                width: 221px !important;
              }
            }
          }
        }
      }
      &.bpx-state-right {
        .bpx-player-ctrl-setting-box {
          .bui-panel-wrap {
            width: 286px !important;
            .bui-panel-move {
              width: 418px !important;
              .bui-panel-item:nth-child(1).bui-panel-item-active {
                width: 136px !important;
              }
              .bui-panel-item:nth-child(2) {
                .bpx-player-ctrl-setting-highenergy {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
  .group-more-button {
    width: 130px;
  }
  .drop-down-list {
    width: 161px;
  }
  .settings_content--item.download-item > button{
    width: 220px;
  }
  .media-session-help {
    width: 418px;
  }
}
@media (max-width: 1040px) {
  .extension {
    .text {
      display: none;
    }
  }
}