
.bpx-player-sponsor-panel-wrap {
  bottom: 60px;
  font-size: 14px;
  font-size: var(--bpx-toast-font-size,14px);
  right: 10px;
  line-height: 28px;
  pointer-events: none;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 65;
}