/********************** 漫游设置 *******************/
.area_limit{
  cursor: pointer;
}

.server-item .server-list{
  display: flex;
  flex-wrap:wrap;
}
.server-item .server-list > div{
  display: flex;
  width: 37%;
  justify-content: flex-end;
  margin: 5px;
}
.server-item .server-input {
  width: 70%;
}
.server-list span {
  align-items: center;
  display: flex;
}


/************播放页面*************/
/* id: msojocs */
.app_player--content{
  position: relative;
}
.msojocs-player-settings{
  position: absolute;
  top: 50px;
  left: 50px;
  right: 50px;
  bottom: 50px;
  background-color: white;
  z-index: 99;
}

/* #player-settings-ext{
  color: black;
  padding: 50px;;
} */