<div>
  <link rel="stylesheet" href="https://lib.baomitu.com/element-plus/2.1.4/index.min.css">
</div>
<div id="player-settings-ext">
  <el-dialog v-model="settingsVisible" title="Shipping address">
    <el-tabs
        v-model="activeName"
        type="card"
        class="demo-tabs"
        @tab-click="handleClick"
      >
      <el-tab-pane label="B站" name="bilibili">
        <div style="display:flex">搜索:
          <el-input style="width:50%" v-model="searchStr" @change="doSearch"></el-input>
        </div>
        <div>结果
          <el-cascader-panel v-model="selectOptions" :options="searchResult" ></el-cascader-panel>
        </div>
      </el-tab-pane>
    </el-tabs>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="settingsVisible = false">取消</el-button>
        <el-button type="primary" @click="doConfirm">确定</el-button>
      </span>
    </template>
  </el-dialog>
</div>